# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\prumu\OneDrive - BYU-Idaho\BYUI_I-Bachellor\CS246\code\school\HelloFromFlavio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
